version: "3.3"

services:
    traefik:
        image: traefik:{{ traefik_version }}
        command: --api --docker
        ports:
            - 80:80
            - {{ traefik_webui_port }}:8080
        networks:
            - traefik_net
        volumes:
            - /var/run/docker.sock:/var/run/docker.sock
        configs:
            - traefik_config
        deploy:
            placement:
                constraints:
                    - node.role == manager

configs:
    traefik_config:
        file: /etc/traefik/config.toml

networks:
    traefik_net:
        driver: overlay
